@import "tailwindcss";

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slide-in-from-top;
    }

    .slide-in-from-bottom {
        animation-name: slide-in-from-bottom;
    }

    .duration-200 {
        animation-duration: 200ms;
    }

    .duration-300 {
        animation-duration: 300ms;
    }

    .duration-700 {
        animation-duration: 700ms;
    }
    
    .delay-100 {
        animation-delay: 100ms;
    }

    .delay-200 {
        animation-delay: 200ms;
    }

    .delay-300 {
        animation-delay: 300ms;
    }
}


@keyframes slide-in-from-bottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
      
    }
}

@keyframes slide-in-from-top {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}